*                     @Lovely-Development-Team/mottobotto-builders

*.swift                  @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.h                      @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.m                      @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.xcodeproj/*            @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.xib                    @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.plist                  @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
*.entitlements           @dwrss @benbacardi @RosemaryOrchard @majdkoshakji @alexcfaber
CODEOWNERS               @dwrss @benbacardi @RosemaryOrchard @majdkoshakji
