<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
            <key>Icons/rainbow</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/rainbow</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/agender</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/agender</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/nonbinary</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/nonbinary</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/asexual</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/asexual</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/lesbian</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/lesbian</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/pansexual</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/pansexual</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/genderqueer</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/genderqueer</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/genderfluid</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/genderfluid</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/bisexual</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/bisexual</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Icons/aromantic</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icons/aromantic</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConvertTimeIntent</string>
		<string>GetTimeListIntent</string>
	</array>
</dict>
</plist>
