<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>agender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>agender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>aromantic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aromantic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>asexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>asexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>bisexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bisexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>genderfluid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>genderfluid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>genderqueer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>genderqueer</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lesbian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lesbian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nonbinary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nonbinary</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pansexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pansexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>progressive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>progressive</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sixcolors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sixcolors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>transgender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>transgender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>wiggles</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wiggles</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>agender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>agender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>aromantic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aromantic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>asexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>asexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>bisexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bisexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>genderfluid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>genderfluid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>genderqueer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>genderqueer</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lesbian</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lesbian</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nonbinary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nonbinary</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pansexual</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pansexual</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>progressive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>progressive</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sixcolors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sixcolors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>transgender</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>transgender</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>wiggles</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wiggles</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConvertTimeIntent</string>
		<string>GetTimeListIntent</string>
	</array>
</dict>
</plist>
